.user-page {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: var(--primary-color);
    box-shadow: var(--shadow);
    border-radius: 20px;
}

.page-title {
    font-size: 2rem;
    color: var(--text-dark);
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-columns {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.icon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.button-container {
    display: flex;
    justify-content: center;
}

.change-button {
    background: var(--secondary-light);
    color: var(--text-light);
    transition: transform 0.2s ease, background 0.3s ease;
    border: none;
    outline: none;
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
}

.change-button:hover {
    background: var(--secondary);
    transform: scale(1.05);
}

.error-message {
    text-align: center;
    color: red;
    margin-top: 10px;
}